<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Productos
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/consolas" routerLinkActive="active">Consolas</a></li>
      <li><a class="dropdown-item" routerLink="/juegos" routerLinkActive="active">Juegos</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="/accesorios" routerLinkActive="active">Accesorios</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="bi bi-box-arrow-in-right"></i> Empresa</a>
  </li>
</ul>

